* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

/* NAVBAR */
.navbar {
    background-color: #C083B9;
    width: 100%;
    height: 85px;
}

.navbar_logotipo {
    text-align: center;
    padding: 5px;
}

/* -------------------------------------------------------------------------------- */
/* HEADER */
.header {
    background-image: url(./img/backgroud_header_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 100%;
    height: 500px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 15vh;
}

.header_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    text-transform: uppercase;   
}

.header_titulo>h1 {
    font-size: 2.2rem;
    text-align: center;
}

/* --- BOTAO --- */
.header_button  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #7F479B;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 5vh;
}

.header_button:hover {
    background-color: #2e1842;
    color: #ffffff;
    transition: background-color .5s;
}

.header_maravilhosa_img {
    width: 100%;
}

/* SECAO Maravilhosa */
.maravilhosa {
    background-color: #255F85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_maravilhosa {
    text-align: justify;
    width: 90%;
}

.maravilhosa_titulo, .suaHistoria_titulo, .suasObras_titulo, .seusLivros_titulo {
    text-align: center;
    margin: 10vh auto 5vh auto;
    font-size: 3rem;
    color: #FFC857;
    text-shadow: 2px 2px 2px #C5283D;
}

.suasObras_titulo {
    margin: 5vh auto;
}

.maravilhosa_boxBorder {
    background-color: #E9724C;
    border: 2px solid #C5283D;
    box-shadow: 2px 2px 2px #481D24;
    margin-bottom: 5vh;
}

.boxBorder_texto, .suaHistoria_paragrafo,
.seusLivros_paragrafo {
    padding: 2vh;
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px #747474;
}

.container_suaHistoria, .container_seusLivros, 
.seusLivros_texto, .suaHistoria_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suaHistoria_imagem {
    width: 70%;
    margin: 2vh auto;
}

.seusLivros_imagem {
    width: 50%;
    margin: 2vh auto;
}

.suaHistoria_titulo, .seusLivros_titulo {
    margin: 0 auto 3vh auto;
    font-size: 2rem;
}

.suaHistoria_paragrafo, .seusLivros_paragrafo, .autora_paragrafo {
    width: 95%;
    border: 2px dotted #E9724C;
}

.seusLivros_paragrafo {
    margin-bottom: 5vh;
}

.seusLivros_titulo {
    margin-bottom: -1vh;
    font-size: 1.8rem;
    width: 50%;
}

/* AUTORA */
.autora {
    background-color: #C5283D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autora_sobre, .autora_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autora_titulo {
    font-size: 1.8rem;
    margin: 5vh auto;
    color: #ffffff;
    text-shadow: 2px 2px 2px#747474;
}

.autora_imagem {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 5vh;
}

.autora_nome {
    font-size: 1.6rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px#747474;
    margin-bottom: 1vh;
}

.autora_paragrafo {
    width: 90%;
    text-align: justify;
    color: #ffffff;
    text-shadow: 1px 1px 2px #747474;
    font-size: 1.1rem;
    padding: 2vh;
    margin-bottom: 5vh;
}

/* FOOTER */
.footer {
    background: #ea4c89;
    color: #f3f3f3;
}

.footer_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
    padding: 30px;
}

.footer_links {
    display: block;
    text-align: center;
    list-style: none;
}

.footer_cc {
    background: #5B5E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer_cc>p {
    font-size: 0.9rem;
    font-weight: 600;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
    .container_header {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    .header_titulo {
        width: 40%;
        align-items: flex-end;
    }

    .header_titulo>h1 {
        text-align: right;
    }

    .header_maravilhosa_img {
        width: 60%;
        margin-left: 2vh;
    }
    .maravilhosa_boxBorder  {
        width: 80%;
        margin: auto;
    }

    .container_suaHistoria {
        margin: 10vh auto;
    }

    .suaHistoria_imagem {
        width: 40%;
        margin: 0;
        
    }

    .suaHistoria_titulo {
        font-size: 2.5rem;
        margin-top: 3vh;
    }

    .suaHistoria_texto {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .suaHistoria_paragrafo {
        font-size: 1.2rem;
        margin-left: 1vh;
    }

    .container_seusLivros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }

    .seusLivros_titulo {
        height: 9vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .seusLivros_imagem {
        height: 35vh;
        width: 25vw;
    }

    .seusLivros_paragrafo {
        width: 90%;
        height: 25vh;
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    .autora_sobre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .autora_imagem {
        width: 30%;
        margin-left: 2vh;
    }

    .autora_titulo {
        font-size: 2.5rem;
    }

    .autora_nome {
        font-size: 2rem;
    }

    .footer_cc>p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .autora_paragrafo {
        width: 80%;
    }
}

    @media (min-width: 920px) {
        .seusLivros_imagem {
            height: 40vh;
            width: 25vw;
        }
    }

    @media (min-width: 1120px) {
        .container_header {
            margin-top: 7vh;
        }

        .header_maravilhosa_img {
            width: 50%;
        }

        .suaHistoria_imagem{
            width: 25%;
        }
    }

        .seusLivros_imagem {
            height: 50vh;
            width: 25vw;
        }

        @media (min-width: 1380px) {
            .seusLivros_imagem {
                height: 50vh;
                width: 15vw;
            }

            .autora_imagem {
                width: 20%;
                margin-left: 10vh;
            }
        }